.payment {
  width: 100vw;

  .paymentWrap {
    width: 1000px;
    margin: 70px auto;

    h2 {
      padding-top: 100px;
      font-size: 2.8rem;
      font-weight: 500;
    }
    .noList {
      padding-top: 60px;
      font-size: 1.8rem;
    }

    .paymentList {
      width: 100%;
      margin: 0 auto;
    }
  }
}
